.password-input{
    display: flex;
    flex-direction: column;
    gap:16px;
    width:320px;
    --gray:rgb(140, 140, 140);
    --red:rgb(254, 89, 89);
    --yellow:rgb(255, 255, 108);
    --green:rgb(120, 255, 120);
    &__input{
        display: flex;
        flex-direction: column;
        // gap:4px;
        h1{
            font-size:16px;
            font-weight: 500;
        }
        input {
            background:#202020;
            padding:8px 16px;
           
            color:white;
            font-family: "Roboto", sans-serif;
            outline: none;
            border:0;
            font-size:24px;
            
        }
    }
    &__indicators{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:8px;
        span{
            height:4px;
        }
    }
    &__text{
        position: relative;
        padding:8px 16px;
        &:before{
            content:'';
            height:100%;
            width:4px;
            position: absolute;
            display: block;
            left:0;
            top:0;
            background:var(--color);
        }
        &.gray{
            --color:gray;
        }
        &.red{
            --color:red;
        }
        &.yellow{
            --color:yellow;
        }
        &.green{
            --color:green;
        }
    }
}