<div class="password-input">
    <div class="password-input__input">
        <h1>Enter your password:</h1>
        <input type="text" name="password-input" id="password-input" 
        #Input
        (input)="onInputChange(Input.value)"> 
        <div class="password-input__indicators">
            @for (item of indicators; track item) {
                <span style.background="var(--{{item}})"></span>
              } 
        </div>
    </div>
    <div class="password-input__text {{passIssues.color}}" >
        {{passIssues.message}}
    </div>
</div>
